$black: #1C1C1C;
$white:#ffffff;
$color-black: #232324;
$font: 'Poppins', sans-serif;
$text-color: #CCCCCC;
$dark-black:#0F0F0F;
$gray: #585858;
$blue: #012688;
$dark-blue: #000D26;
$light-blue: #66B4FF;
 






