@import './../../assets/style/variable.scss';

.banner{
    padding: 80px 0;
    background: $dark-blue url('./../../assets/images/banner-bg.png') no-repeat top left;
    background-size: auto 100%;
    overflow: hidden;
    .banner-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .about-fury{
            width: 50%;
            @media screen and (max-width:991px) {
                width: 100%;
                margin: 0 0 30px;
            }
            h1.launch-countdown {
                font-weight: normal;
            }
            span.launch-timer {
                color: #f6fe00;
                font-weight: bold;
            }
            span.launch-timer-symbol {
                font-size: 16px;
            }
            .title{
                font-size: 32px;
                font-weight: 600;
                @media screen and (max-width:767px) {
                    font-size: 26px;
                }
            }
            .info{
                margin: 30px 0;
                font-size: 18px;
                @media screen and (max-width:767px) {
                    font-size: 22px;
                    margin: 15px 0;
                }
                span {
                    color: var(--color-primary);
                    font-weight: 600;
                }
            }
            .spin-btn {
                margin: 0 15px 0 0;
            }
        }
        .spin-animation {
            width: 50%;
            .spin-active {
                animation: rotation 8s infinite linear;
            }
            .spinner{
                position: relative;
                width: 100%;
                @media screen and (max-width:767px) {    
                    width: 124%;
                    position: relative;
                    left: -11.5%;
                }
                img{
                    display: block;
                    width:100%
                }
                .avax-input{
                    position: absolute;
                    width: 25%;
                    height: 10em;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    align-content: center;
                    padding: 0 25px;
                    .invest-input::-webkit-input-placeholder{
                        font-weight: bold;
                    }
                    @media screen and (max-width:525px) {    
                        padding: 0 15px;
                    }
                    .number{
                        background: transparent;
                        color: rgba(255, 255, 255, 0.4);
                        outline: none;
                        border: none;
                        width: 65%;
                        font-size: 14px;
                        &::placeholder{
                            color: rgba(255, 255, 255, 0.4);
                        }
                    }
                    .label{
                        font-size: 14px;
                        width: 35%;
                        @media screen and (max-width:525px) {    
                            width: 12px;
                            font-size: 10px;
                        }
                    }
                    .btn {
                        background: linear-gradient(42deg, #0D3B94, #0050BE);
                        border: none;
                        font-size: 15px;
                        width: 100%;
                        color: $white;
                        padding: 7px 10px;
                        margin: 15px 0 0;
                        border-radius: 22px;
                        cursor: pointer;
                        position: relative;
                        display: block;
                        @media screen and (max-width:767px) {    
                            margin: 10px 0 0;
                            padding: 5px 7px;
                        }
                        &::before{
                            content: "";
                            display: block;
                            border-top: 2px solid $dark-blue;
                            width: 100%;
                            position: absolute;
                            top: -10px;
                            left: 0;
                            right: 0;
                            @media screen and (max-width:767px) {    
                                top: -7px;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width:991px) {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}

.how-it-works {
    background-image: linear-gradient(42deg, #29106C, #082164);
    text-align: center;
    .container {
        padding: 80px 25px;
        background: url('./../../assets/images/how-works-bg.png') no-repeat center;
        background-size: auto 100%;
    }
    .para {
        max-width: 900px;
        margin: 0 auto 30px;
    }
}

.withdrawable {
    padding: 80px 0;
    background: $dark-blue;
    text-align: center;
    .amount{
        display: block;
        font-size: 16px;
        color: $white;
        opacity: 0.5;
        margin: 0 0 30px;
    }
    .user-balance{
        margin: 60px auto 40px;
        display: flex;
        justify-content: space-evenly;
        max-width: 900px;
        flex-wrap: wrap;
        .spin-card {
            max-width: 340px;
            width: 100%;
            @media screen and (max-width:767px) {
                max-width: 100%;
                margin: 0 0 30px;
            }
        }
    }
    .your-spin-container {
        display: -webkit-inline-box;
        display: flex;
        flex-wrap: wrap;
    }
    .your-spin{
        border-radius: 22px;
        background: linear-gradient(to bottom, #020F29, #071C44);
        padding: 35px 25px;
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        width: 30%;
        @media(max-width: 780px) {
            width: 100%;
        }
        .spin {
            .percent {
                font-size: 16px;
            }
            .amount {
                font-size: 32px;
                margin: 0;
                opacity: 1;
            }
            .symbol {
                opacity: 0.5;
            }
        }

        .spin-left{
            text-align: left;
        }
        .spin-right{
            text-align: right;
        }
        
        .plan-countdown-container {
            position: relative;
            width: 100%;
            border-radius: 20px;
            margin: 25px 0 0;
          }
    }
    .finished{
        opacity: 0.3;
    }
}

.referral-wrapper{
    padding: 80px 0;
    background-image: linear-gradient(42deg, #29106C, #082164);
    @media screen and (max-width: 767px) {
        padding: 50px 0;
    }
    .referral {
        display: flex;
        justify-content: space-evenly;
        @media screen and (max-width: 991px) {
            flex-wrap: wrap;
        }
        .left {
            max-width: 600px;
            width: 100%;
            padding: 15px 45px;
        
            @media(max-width: 767px) {
                text-align: center;
                max-width: 100%;
            }
            .para {
                line-break: anywhere;
                strong{
                    font-weight: 600;
                    display: block;
                    margin: 30px 0;
                }
            }
        }
    
        .spin-card {
            max-width: 340px;
            width: 100%;
            @media screen and (max-width: 991px) {
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
    .levels {
        display: flex;
        padding: 120px 0 0;
        justify-content: space-between;
        @media screen and (max-width: 991px) {
          flex-wrap: wrap;
          justify-content: center;
        }
        .shadow-box {
          box-shadow: 0px 40px 40px -5px rgba(9, 31, 67, 0.04);
          padding: 20px 10px;
          width: 200px;
          height: 200px;
          margin: 0 10px 20px 0;
          border-radius: 50%;
          background-color: $dark-black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          h1 {
            font-size: 28px;
            margin: 7px;
            color: $white;
            font-weight: 600;
          }
      
          p {
            font-size: 15px;
            margin: 8px;
            color: $light-blue;
          }
          .level {
            font-size: 18px;
            margin: 8px;
            color: $white;
          }
        }
    }
}

.aspects-wrapper{
    padding: 80px 0;
    text-align: center;
    .figure {
        margin: 120px auto 0;
        width: 100%;
        max-width: 900px;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
}

.how-to-play{
    background-image: linear-gradient(42deg, #29106C, #082164);
    padding: 80px 0;
    text-align: center;
    @media(max-width: 767px) {
        padding: 60px 0 0;
     }
    .play-steps{
        display: flex;
        margin: 120px 0 0;
        justify-content: space-evenly;
        @media(max-width: 767px) {
            flex-wrap: wrap;
            margin: 60px 0 0;
         }
        .step{
            position: relative;
            max-width: 420px;
            width: 100%;
            padding: 20px;
            @media(max-width: 767px) {
                max-width: 100%;
                margin: 0 0 30px;
             }
            .step-card{
                position: relative;
                z-index: 2;
                max-width: 230px;
                margin: 0 auto 40px;
                padding: 45px 25px 25px;
                border-radius: 22px;
                min-height: 252px;
                background: linear-gradient(to bottom, #020F29, #071C44);
                .caption{
                    display: block;
                    margin: 30px 0 0;
                }
            } 
            &::after {
                content: "";
                display: block;
                width: 56px;
                height: 56px;
                border-radius: 50%;
                background: $light-blue;
                filter: blur(15px);
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 20%);
            }
        }
    }
}

.returns{
    padding: 80px 0;
    text-align: center;
    @media(max-width: 767px) {
        padding: 50px 0;
    }
    .title{
        max-width: 690px;
        margin: 0 auto;
    }
    .return-stats{
        display: flex;
        margin: 80px 0 0;
        @media(max-width: 767px) {
           flex-wrap: wrap;
        }
        .chart{
            max-width: 600px;
            width: 100%;
            padding: 0 40px;
            @media(max-width: 767px) {
                max-width: 100%;
                margin: 0 0 40px;
                padding: 0;
            }
            .label{
                margin: 0 0 30px;
            }
        }
        .apexcharts-canvas {
            .apexcharts-text.apexcharts-yaxis-label,
            .apexcharts-text.apexcharts-xaxis-label,
            .apexcharts-yaxis-title text {
                fill: $white;
                opacity: 0.5;
            }
            .apexcharts-yaxis-title text{
                font-size: 19px;
            }
        }
    }
    .profit-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(160px, 1fr));
        gap: 10px;
        max-width: 1150px;
        margin: 50px auto 0;
        @media(max-width: 767px) {
            margin: 25px auto 0;
        }
      .column{
          .box {
              padding: 20px 30px;
              font-size: 18px;
              background-color: $blue;
              border-radius: 4px;
              opacity: 0.5;
              white-space: nowrap;
              margin: 0 0 10px;
          }
      }
    }
}

.contract{
    background-image: linear-gradient(42deg, #29106C, #082164);
    .user-balance{
        max-width: 100%;
    }
}

.footer{
    padding: 100px 0 0;
    text-align: center;
    .container{
        max-width: 900px;
    }
    .dark-box {
        border-radius: 24px;
        background: #042464;
        padding: 25px;
        margin: 40px 0; 
        position: relative;
        z-index: 1;
        .para{
            margin: 0;
        }
    }

    .copy-right{
        background: $dark-black;
        padding: 200px 0 40px;
        margin: -200px 0 0;
        .para {
            margin: 0;
        }
    }
}